# compiled output & generated
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
out/
**/out/
/BE/src/common/generated
.DS_Store
Thumbs.db

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files (sensitive)
.env
.env.*
**/.env
**/.env.*
